* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.circulo {
  margin-top: 40px;
  margin-left: 25px;
  width: 80px;
  height: 80px;
  background-color: blue;
  border-radius: 50%;
  animation-name: mover;
  animation-duration: 3s;
  animation-delay: 2s;
  /*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
  animation-iteration-count: infinite;
}
@keyframes mover {
  0% {
    background-color: blue;
  }
  25% {
    background-color: aqua;
    transform: translate(0px, 100px);
  }
  50% {
    background-color: green;
    transform: translate(100px, 100px);
  }
  75% {
    background-color: blueviolet;
    transform: translate(100px, 0px);
  }
  100% {
    background-color: yellow;
    transform: translate(0px, 0px);
  }
}
