* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#primero {
  border: 2px solid black;
  width: 25%;
  margin: 5px;
  /*float: left;*/
}
#segundo {
  border: 2px dotted blue;
  width: 25%;
  margin: 5px;
  /*float: left;*/
}
#tercero {
  border: 2px double red;
  width: 25%;
  margin: 5px;
  /*float: left;*/
}
#cuarto {
  border: 2px double red;
  width: 50%;
  margin: 5px;
  /*float: right;*/
}
#primer-parrafo {

}

footer {
  position: fixed;
  height: 25px;
  background-color: cornflowerblue;
  text-align: center;
  bottom: 0;
  width: 100%;
}
